# exclude directory
**/build/
**/CMakeFiles/
**/__*py*__/
**/__pycache__/
# **/release/
**/release/index.dist/
**/_internal/
**/.venv/
**/vscode_ext/node_modules/
**/vscode_ext/application/

# exclude files
**/*.cmake
**/CMakeCache.txt
.DS_Store
*.bak
README.pdf

# include files
# \!build/*.dll
\!release/DevVerifyGUI.vsix
\!release/mcu_i3c_beta.hex
\!release/fpga_autotest.hex
