# exclude directory
**/build/
**/CMakeFiles/
**/__*py*__/
**/__pycache__/
**/release/
**/venv/
**/vscode_ext/node_modules/
**/vscode_ext/application/

# exclude files
**/*.cmake
**/CMakeCache.txt
.DS_Store
*.bak
**/release/TID_*/*.html
**/release/testResult/*.html
README.pdf

# include files
# \!build/*.dll
\!release/DevVerifyGUI.exe
